.finalizado span {
    opacity: .6;
    text-decoration: line-through;
}

:root {
    --font-style: 'Nunito Sans', 'sans-serif';
}

* {
    box-sizing: border-box;
}

body {
    background: #131315;
    font-family: var(--font-style);
}