body.container {
    background-color: antiquewhite;
}

.imgGame{
    max-width: 15rem;
}

div.tabla.table .game{
    font-weight: bold;
}

div.card{
    max-width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h6{
    text-decoration: underline;
}